<a href="https://colab.research.google.com/github/mietekdom/Nepal_Solar-Radiation-Measurments/blob/main/Nepal_solar_radiation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set()

**Import data**

In [171]:
df = pd.read_csv('https://energydata.info/dataset/ead8d2fa-de59-48d3-8693-817b36b3a470/resource/ef17f691-0256-497d-a5ee-3c6a334ae1e2/download/solar-measurements_nepal_dharan_wb-esmap_qc.csv')
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.

               time  ...                                           comments
0  2018-07-01 00:01  ...  Tracking device misaligned; no DNI/DHI measure...
1  2018-07-01 00:02  ...  Tracking device misaligned; no DNI/DHI measure...
2  2018-07-01 00:03  ...  Tracking device misaligned; no DNI/DHI measure...
3  2018-07-01 00:04  ...  Tracking device misaligned; no DNI/DHI measure...
4  2018-07-01 00:05  ...  Tracking device misaligned; no DNI/DHI measure...

[5 rows x 14 columns]

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964800 entries, 0 to 964799
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   time                        964800 non-null  object
 1   ghi                         964800 non-null  float64
 2   dni                         933840 non-null  float64
 3   dhi                         933840 non-null  float64
 4   air_temperature             964800 non-null  float64
 5   relative_humidity           964800 non-null  float64
 6   wind_speed                  964800 non-null  float64
 7   wind_speed_of_gust          964800 non-null  float64
 8   wind_from_direction_st_dev  964800 non-null  float64
 9   wind_from_direction         964800 non-null  float64
 10  barometric_pressure         964800 non-null  float64
 11  rain                        964800 non-null  float64
 12  sensor_cleaning             964800 non-null  int64
 13  comments                    182153 non-null  object
dtypes: float64(11), int64(1), object(2)
memory usage: 103.1+ MB

**Rain analysis**

In [173]:
df_rain = df.iloc[ :, [0, 11]]
df_rain.head()

               time  rain
0  2018-07-01 00:01   0.0
1  2018-07-01 00:02   0.0
2  2018-07-01 00:03   0.0
3  2018-07-01 00:04   0.0
4  2018-07-01 00:05   0.0

In [177]:
df_rain['time'] = pd.to_datetime(df['time']).dt.date
df_rain

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              time  rain
0       2018-07-01   0.0
1       2018-07-01   0.0
2       2018-07-01   0.0
3       2018-07-01   0.0
4       2018-07-01   0.0
...            ...   ...
964795  2020-04-30   0.0
964796  2020-04-30   0.0
964797  2020-04-30   0.0
964798  2020-04-30   0.0
964799  2020-05-01   0.0

[964800 rows x 2 columns]