<a href="https://colab.research.google.com/github/mietekdom/Nepal_Solar-Radiation-Measurments/blob/main/Nepal_solar_radiation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
import pandas as pd
import numpy as np
from datetime import datetime
import plotly
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set()

**Import data**

In [191]:
df = pd.read_csv('https://energydata.info/dataset/ead8d2fa-de59-48d3-8693-817b36b3a470/resource/ef17f691-0256-497d-a5ee-3c6a334ae1e2/download/solar-measurements_nepal_dharan_wb-esmap_qc.csv',
                 index_col=0, parse_dates=True)
df.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.

                     ghi  ...                                           comments
time                      ...
2018-07-01 00:01:00  0.0  ...  Tracking device misaligned; no DNI/DHI measure...
2018-07-01 00:02:00  0.0  ...  Tracking device misaligned; no DNI/DHI measure...
2018-07-01 00:03:00  0.0  ...  Tracking device misaligned; no DNI/DHI measure...
2018-07-01 00:04:00  0.0  ...  Tracking device misaligned; no DNI/DHI measure...
2018-07-01 00:05:00  0.0  ...  Tracking device misaligned; no DNI/DHI measure...

[5 rows x 13 columns]

In [194]:
df_time = df[['rain']]
df_time.head

<bound method NDFrame.head of                      rain
time
2018-07-01 00:01:00   0.0
2018-07-01 00:02:00   0.0
2018-07-01 00:03:00   0.0
2018-07-01 00:04:00   0.0
2018-07-01 00:05:00   0.0
...                   ...
2020-04-30 23:56:00   0.0
2020-04-30 23:57:00   0.0
2020-04-30 23:58:00   0.0
2020-04-30 23:59:00   0.0
2020-05-01 00:00:00   0.0

[964800 rows x 1 columns]>

In [196]:
rain_2018 = df_time.loc['2018']
rain_2018

                     rain
time
2018-07-01 00:01:00   0.0
2018-07-01 00:02:00   0.0
2018-07-01 00:03:00   0.0
2018-07-01 00:04:00   0.0
2018-07-01 00:05:00   0.0
...                   ...
2018-12-31 23:55:00   0.0
2018-12-31 23:56:00   0.0
2018-12-31 23:57:00   0.0
2018-12-31 23:58:00   0.0
2018-12-31 23:59:00   0.0

[264959 rows x 1 columns]

In [197]:
rain_2018.resample('D').mean().head()

                rain
time
2018-07-01  0.064420
2018-07-02  0.014306
2018-07-03  0.007431
2018-07-04  0.066875
2018-07-05  0.021875